<form [formGroup]="formPagamentoColaborador" class="form p-fluid">
    <div class="field col-12">
        <label>Colaborador</label>
        <p-dropdown formControlName="idColaborador" [filter]="true" [options]="colaboradorDrop"
                    placeholder="Selecione o colaborador"
                    appendTo="body">
            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix div-itens">
                    <div class="nome-colaborador">{{item.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="field col-12">
        <label>Tipo Pagamento</label>
        <p-dropdown formControlName="idPagamento" [options]="pagamentoDrop" placeholder="Selecione o  tipo do pagamento"
                    appendTo="body">
        </p-dropdown>
    </div>
    <div class="field col-12">
        <label>Observação</label>
        <input type="text" pInputText formControlName="observacao"/>
    </div>
    <div class="area flex align-items-baseline pt-0">
        <div class="field col-6 flex align-content-center">
            <label class="pr-3 mb-0">Retirado de Algum lugar? </label>
            <p-checkbox (onChange)="abrirGrid(visualizar)" [falseValue]="this.visualizar" name="Retirado de algum lugar?" [binary]="true"
                        formControlName="retiradoLugar"></p-checkbox>
        </div>
        <div class="field col-6" *ngIf="visualizar">
            <p-dropdown formControlName="idPagamento" [options]="pagamentoRetirado" placeholder="Selecione o  tipo do pagamento"
                        appendTo="body">
            </p-dropdown>
        </div>
    </div>
    <div class="area flex">
        <div class="field col-6">
            <label for="dataPagamento">Data do Pagamento </label>
            <p-calendar
                placeholder="DD/MM/AAAA"
                id="dataPagamento"
                formControlName="dataPagamento"
                dateFormat="dd/mm/yy"
                appendTo="body"
                [yearNavigator]="true"
                [defaultDate]="dataRegistro"
            ></p-calendar>
        </div>
        <div class="field col-6">
            <label>Valor R$</label>
            <p-inputNumber formControlName="valorPago" [min]="0" [showButtons]="true" mode="currency" currency="BRL"></p-inputNumber>
        </div>
    </div>
</form>
<div class="flex justify-content-end" style="display: flex; justify-content: space-between;">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="this.salvarFormulario()"
            class="button-save-new"></button>
</div>
