<div class="ui-g-8">
    <form [formGroup]="formPagamento" class="ui-fluid ui-g-8">
        <div class="field col-12" style="padding-bottom: 15px">
            <input type="text" pInputText formControlName="nomeDoador"/>
        </div>
        <div class="field col-12" style="padding-bottom: 15px">
            <input type="text" pInputText formControlName="observacao"/>
        </div>
        <div class="field" style="padding-bottom: 15px">
            <label for="dataDoacao">Data do Pagamento</label>
            <p-calendar
                id="dataDoacao"
                formControlName="dataDoacao"
                dateFormat="dd/mm/yy"
                appendTo="body"
                [yearNavigator]="true"
                [defaultDate]="dataRegistro"
            ></p-calendar>
        </div>
        <div class="field col-12" style="padding-bottom: 15px">
            <label>VALOR</label>
            <p-inputNumber formControlName="valorDoado" [showButtons]="true" mode="currency" currency="BRL"></p-inputNumber>
        </div>
        <div class="field col-12" style="padding-bottom: 15px">
            <label>DOADO PARA</label>
            <p-dropdown formControlName="doadoParaPagamento" [options]="pagamentoDrop" placeholder="Selecione o clientes"
                        appendTo="body">
            </p-dropdown>
        </div>
    </form>
</div>
<div class="flex justify-content-end" style="display: flex; justify-content: space-between;">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="this.salvarFormulario()"
            class="button-save-new"></button>
</div>
