<div class="form p-fluid">
    <form [formGroup]="formularioPagamento" class="ui-fluid ui-g-8">
        <div class="field col-12">
            <label>Nome do Doador</label>
            <input type="text" pInputText formControlName="nomeDoador"/>
        </div>
        <div class="field col-12">
            <label>Observacao</label>
            <input type="text" pInputText formControlName="observacao"/>
        </div>
        <div class="area flex">
            <div class="field col-6">
                <label for="dataDoacao">Data do Pagamento </label>
                <p-calendar
                    placeholder="DD/MM/AAAA"
                    id="dataDoacao"
                    formControlName="dataDoacao"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    [yearNavigator]="true"
                    [defaultDate]="dataRegistro"
                ></p-calendar>
            </div>
            <div class="field col-6">
                <label>Valor R$</label>
                <p-inputNumber formControlName="valorDoado" [min]="0" [showButtons]="true" mode="currency" currency="BRL"></p-inputNumber>
            </div>
        </div>
        <div class="field col-12">
            <label>Doado para: </label>
            <p-dropdown formControlName="doadoParaPagamento" [options]="pagamentoDropdown" placeholder="Selecione o  tipo do pagamento"
                        appendTo="body">
            </p-dropdown>
        </div>
    </form>
</div>
<div class="flex justify-content-end" style="display: flex; justify-content: space-between;">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="this.salvarFormulario()"
            class="button-save-new"></button>
</div>
