<div [formGroup]="formProjeto" class="ui-fluid">
    <div class="field col-12">
        <label for="nomeProjeto">Nome</label>
        <input formControlName="nome" id="nomeProjeto" type="text" pInputText>
    </div>
    <div class="field col-12 ">
        <label>Cliente</label>
        <p-dropdown formControlName="idCliente" [options]="projetos" filter="true" placeholder="Selecione o cliente"
                    appendTo="body">
            <ng-template let-item pTemplate="selectedItem">
                <img alt="logo do Cliente" [src]="item.icon" style="width:16px;vertical-align:middle"/>
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <img alt="logo do Cliente" [src]="item.icon" style="width:24px;position:absolute;top:1px;left:5px"/>
                    <div style="font-size:14px;float:right;margin-top:4px">{{item.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="field col-12">
        <label>Descrição</label>
        <textarea formControlName="descricao" rows="8" cols="30" pInputTextarea></textarea>
    </div>
</div>
<div class="flex justify-content-end">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cancelarCadastro()"
            class="ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="verificaId()" [disabled]="read"
            class="button-save-new"></button>
</div>
