<div [formGroup]="formRegistro" class="mt-3">
    <div class="formgrid grid">
        <div class="field col-12 pb-3">
            <label class="block">Título</label>
            <input type="text" formControlName="titulo" pInputText class="inputfield w-full">
        </div>
        <div class="field  col-12 md:col-6 lg:col-3 ">
            <label for="idCliente" class="block">Cliente</label>
            <p-dropdown class="ui-fluid" id="idCliente" formControlName="idCliente"
                        [options]="cliente" placeholder="Selecione"></p-dropdown>
        </div>
        <div class="field  col-12 md:col-6 lg:col-3">
            <label for="idTipoRegistro" class="block">Tipo de Registro</label>
            <p-dropdown class="ui-fluid" id="idTipoRegistro" formControlName="idTipoRegistro"
                        [options]="tipoRegistro" placeholder="Selecione" [showClear]="true"></p-dropdown>
        </div>
        <div class="field  col-12 md:col-6 lg:col-3 ">
            <label for="idImpacto" class="block">Impacto</label>
            <p-dropdown class="ui-fluid" id="idImpacto" formControlName="idImpacto" [options]="impacto"
                        placeholder="Selecione" [showClear]="true"></p-dropdown>
        </div>
        <div class="field  col-12 md:col-6 lg:col-3 ">
            <label for="idStatusRegistro" class="block">Status da Registro</label>
            <p-dropdown class="ui-fluid" id="idStatusRegistro" formControlName="idStatusRegistro"
                        [options]="statusRegistro" placeholder="Selecione" [showClear]="true"></p-dropdown>
        </div>
        <div class="field  col-12 md:col-6 lg:col-3 mt-3">
            <label for="dataInicio" class="block mb-2 w-8">Data do Registro</label>
            <p-calendar
                class="ui-fluid"
                id="dataInicio"
                formControlName="dataInicio"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="1980:2030"
            ></p-calendar>
        </div>
        <div class="field  col-12 md:col-6 lg:col-3 mt-3">
            <label for="dataLimite" class="block mb-2">Data Limite</label>
            <p-calendar
                class="ui-fluid"
                id="dataLimite"
                formControlName="dataLimite"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="1980:2030"
            ></p-calendar>
        </div>
        <div class="field  col-12 md:col-12 lg:col-6">
            <label class="block mt-3">Prioridade</label>
            <div class="formgrid grid pl-2">
                <div class="pr-2 pt-2 mr-5">
                    <p-radioButton name="groupname" [value]="4" label="Bloqueante" class="pr-2"
                                   formControlName="idPrioridade"></p-radioButton>
                </div>
                <div class="pr-2 pt-2 mr-5">
                    <p-radioButton name="groupname" [value]="3" label="Alta" class="pr-2"
                                   formControlName="idPrioridade"></p-radioButton>
                </div>
                <div class="pr-2 pt-2 mr-5">
                    <p-radioButton name="groupname" [value]="2" label="Média" class="pr-2"
                                   formControlName="idPrioridade"></p-radioButton>
                </div>
                <div class="pr-2 pt-2">
                    <p-radioButton name="groupname" [value]="1" label="Baixa" class="pr-2"
                                   formControlName="idPrioridade"></p-radioButton>
                </div>
            </div>
        </div>
        <div class="field col-12 mt-3">
            <label for="descricao" class="block mb-2">Descrição</label>
            <textarea id="descricao" formControlName="descricao" class="w-full" rows="8" cols="30"
                      pInputTextarea autoResize="autoResize"></textarea>
        </div>
        <div class="col-12 flex justify-content-end mb-3">
            <button type="button" pButton icon="pi pi-times" label="Cancelar"
                    class="ui-button-secondary mr-3"></button>
            <button type="button" pButton icon="pi pi-check" label="Continuar" (click)="salvarFormulario()"
                    class="button-save-new"></button>
        </div>
    </div>
</div>

