<div class="col-12 flex justify-content-start">
    <button pButton type="button" icon="ui-icon-plus" class="ui-button-success button-save-new" iconPos="left"
            label="Novo Cliente" (click)="novoCliente()"></button>
</div>
<p-table [value]="clientes" dataKey="id" paginator="true" rows="5">
    <ng-template pTemplate="header">
        <tr>
            <th id="nome">Nome</th>
            <th id="descricao">Descrição</th>
            <th id="situacao">Situação</th>
            <th id="acao">Ação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr class="tabela">
            <td>
                <div class="flex icone w100">
                    <img
                        alt="Logo do Cliente"
                        class="imagemCliente  flex position:flex float: left"
                        [src]="cliente.icone">
                    <div class=" flex-1 flex justify-content-center align-items-center">
                        {{cliente.nome}}
                    </div>
                </div>
            </td>
            <td>{{cliente.descricao}} </td>
            <td>{{ativoInativo(cliente.ativo)}}</td>
            <td>
                <div class="flex justify-content-center p-0">
                    <button pButton icon="pi pi-eye"
                            class="botao-secundario sem-fundo button-view flex align-items-center justify-content-center m-1"
                            (click)="vizualizarCliente(cliente.id)"></button>
                    <button pButton icon="pi pi-pencil" [disabled]="!cliente.ativo"
                            class="botao-secundario sem-fundo button-edit flex align-items-center justify-content-center m-1"
                            (click)="editar(cliente.id)"></button>
                    <button pButton icon="pi pi-trash" [disabled]="!cliente.ativo"
                            class="botao-primario sem-fundo flex align-items-center justify-content-center m-1"
                            (click)="confirm(cliente.id)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-dialog header="{{tituloModal}}" [(visible)]="display" (onHide)="resetarForm()">
    <app-cliente-cadastro [cliente]="clientes" (respForm)="fecharModal()"></app-cliente-cadastro>
</p-dialog>

