@import "assets/layout/css/variaveis-globais.css";
@import "assets/layout/css/sobrescritas-primeng.scss";

body .ui-button .ui-button-text{
    padding: 0 !important;
}

.ui-sortable-column-icon{
    font-size: 0.8em !important;
}

body .ui-widget-overlay {
    opacity: 1.0;
}

.ui-dialog-title{
    justify-content: center;

}

.button-save-new{
    background-color: #F57F17 !important;
    border: none !important;
}

.ui-accordion .ui-accordion-header.ui-state-active a{
    background-color: #F67F48 !important;
    border: #e06904f7 !important;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    background-color: #e06904f7;
    color: white;
    transition: 0.5s;
}



.ui-accordion .ui-accordion-header.ui-state-active a{
    background-color: #757575!important;
    border: #757575 !important;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    background-color: #757575;
    color: white;
    transition: 0.5s;
}
