@import "assets/css/variaveis-globais.css";
@import "assets/fonts/Kreon/font-kreon.css";
@import "assets/fonts/Reem_Kufi/font-reem-kufi.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
