button.ui-button {
    &.sem-fundo, &.sem-fundo:hover, &:enabled:not(:focus):hover {
        background-color: #00000000;
        box-shadow: none;
        border: none;
    }
    &.botao-primario span {
        color: var(--cor-tema-laranja);
    }
    &.botao-secundario span {
        color: #444444;
    }
}

p-fileUpload div.ui-fileupload .ui-fileupload-choose.ui-button{
    background-color: var(--cor-tema-laranja-claro);
    border: none;
    &:hover{
        background-color: var(--cor-tema-laranja);
    }
}

button.botao-cor-primaria {
    border: none;
    background-color: #F57F17;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
    background-color: #F67F48;
    border: none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover{
    background-color: #00000000;
    border: none;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    box-sizing: border-box;
    height: 3.45em;
    min-width: 3em;
    border: 0 none;
    line-height: 2.286em;
    padding: 8px;
    margin: 0;
    vertical-align: top;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #e8801a;
    color: #ffffff;
}

