<form [formGroup]="formularioColaborador" class="form p-fluid">
    <div class="field col-12">
        <label>Novo Colaborador</label>
        <input type="text" pInputText formControlName="nomeColaborador"/>
    </div>
    <div class="area flex">
        <div class="field col-6">
            <label>Unidade</label>
            <p-dropdown formControlName="idUnidade" [options]="dropdownUnidade"
                        placeholder="Selecione a Unidade"
                        appendTo="body">
            </p-dropdown>
        </div>
        <div class="field col-6">
            <label>Telefone</label>
            <p-inputMask mask="(99) 99999-9999" formControlName="telefone" placeholder="(99) 99999-9999"></p-inputMask>
        </div>
    </div>
    <div class="field col-12">
        <label>Email</label>
        <input type="text" pInputText formControlName="email"/>
    </div>
</form>
<div *ngIf="mostrarGastosColaborador" class="field col-12">
    <p>Pagamentos do Colaborador: </p>
    <app-tabela-generica [dados]="pagamentosColaborador"
                         [colunas]="coluna"
                         [paginator]="true"
                         [rows]="7"
    ></app-tabela-generica>
</div>
<div class="flex justify-content-end" style="display: flex; justify-content: space-between;">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="this.salvar()"
            class="button-save-new"></button>
</div>
