<div class="col-12 flex justify-content-start">
    <button pButton type="button" icon="ui-icon-plus" class="ui-button-success button-save-new" iconPos="left"
            label="Nova Doação"></button>
</div>
<div class="card">
    <p-table [columns]="coluna" [value]="colaboradores" [paginator]="true" [rows]="10" [responsive]="true"
             sortMode="multiple">
        <ng-template pTemplate="header" let-colunas>
            <tr>
                <th id="titulo-colunas" *ngFor="let col of colunas" [pSortableColumn]="col.field">
                    {{col.header}}
                    <ng-container>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-colunas="columns">
            <tr>
                <td *ngFor="let col of colunas">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
